    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
          </div>
        </div>
      </nav>
 
        <h1>Campsite Checklist</h1></div>
      
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p id="header2" class="lead">Making your next camping, hike or backpacking easier with friends!</p>
                <a id= "loginBtn" class="btn btn-primary btn-lg" href="login.html" role="button">Member Login</a>
                <a id="newaccountBtn" class="btn btn-primary btn-lg" href="signup.html" role="button">Create Account</a>
            </div>
        </div>
    </div>

<ul>
  {{#each items}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>Item: {{this.item}}</p>
  	</li>
  {{/each}}
</ul>
 
