

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index">
        Logout
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
     <div>

        <ul>
          <li>Tent</li>
          <li>Sleeping Bag</li>
          <li>Stove</li>
          <li>Water Filter</li>
         <li>Food</li>
        </ul>
    </div>
  </div>

<div class="crudButtons">
<div class="buttonsRow">
<form action="/" method="POST">
<textarea type="text" class="btn btn-primary btn-lg" name="item"></textarea>
<button type="submit" class="btn btn-primary btn-lg">Add Item</button>
<form action="/" method="UPDATE">
<button type="update" class="btn btn-primary btn-lg">Edit Item</button>
<form action="/" method="DELETE">
<button type="delete" class="btn btn-primary btn-lg">Delete Item</button>
<form action="/" method="SEARCH">
<button type="search" class="btn btn-primary btn-lg">Search Amazon</button>
</form>
</div>

</div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/login.js"></script>
  

