<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Sign Up Form</h2>
        <form class="signup">
          <div class="form-group">
        <div>
            <label for="exampleInputName">Name</label>
            <input type="name" class="form-control" id="name-input" placeholder="Name">
          
            <div class="form-group">
            <label for="exampleInputEmail1">Email Address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
            </div>
            <div class="form-group">
            <label for="exampleInputState">State</label>
            <input type="state" class="form-control" id="state-input" placeholder="State">
          </div>

        </div>
         <div>
           <form action="/" method="POST">
           <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
          </form>
        <br />
        <a href="/login"><h4>Or Login Here!</h4></a>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<<<<<<< HEAD
  <script type="text/javascript" src="js/signup.js"></script>

=======
  <script type="text/javascript" src="js/signup.js"></script>
>>>>>>> 93b19cc80e6ae0e3597d4c0366c194e6beb3e5b4
