form.signup,
form.login {
  margin-top: 50px;
}



h1 {
  text-align: center;
  color: rgb(55, 43, 226);
  font-size: 80px;
  
}

.container, .row, h6 {
  text-align: center;
  color: rgb(220, 248, 59)
  
}

body {
  background-color: rgb(250, 233, 187);
  background-image: url(../Images/Forrest.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  color: rgb(220, 248, 59);
  text-emphasis: center;
  font-size: 80px;
}

.form-group {
  color: rgb(220, 248, 59);
  text-align: left;
}

.crudButtons{
  display: table;
  color: rgb(55, 43, 226);
}

.buttonsRow{
display: table-cell
}

ul {
  position: relative;
  margin: 150px;
  padding: 15px;
  box-sizing: border-box;
}

ul li {
  display: flex;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(241, 143, 14)
}